
<div class="title">
<h1>The jobs of my boys</h1>
</div>

<% @job.each do |job| %>

 <div class="center">
  <div class="card-jobs">
    <div class="card-jobs-details">
      <div class="card-jobs-detail">
      <h2>Name</h2>
        <p> <%=job.user.first_name%></p>
     </div>
       <div class="card-jobs-detail">
        <h2>Location</h2>
        <p><%=job.location%></p>
        </div>
         <div class="card-jobs-detail">
          <h2>Cost</h2>
          <p> <%=job.cost%></p>
         </div>
           <div class="card-jobs-detail">
            <h2>Time</h2>
            <p><%=job.time%></p>
            </div>
             <div class="card-jobs-infos   card-jobs-detail">
               <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-jobs-user avatar-bordered"/>

             </div>
       </div>

         <div class="card-jobs-description">
         <h2>Description</h2>
         <p><%=link_to  job.description, job_path(job.id)%></p>


        </div>
 </div>
 </div>


<% end  %>
<%= link_to "Sign Out", destroy_user_session_path, :method =>:delete %>
<%= link_to "Add Job", new_job_path %>

