<h2> My Jobs </h2>

<% if @jobs.length == 0  %>
<h4>Sorry, You have no Jobs at the moment!</h4>
<p>Click below to add a job!</p>
<%= link_to "Add Job", new_job_path,:class => "btn btn-block  buttons" %>
<% else %>
<% @jobs.each  do |job|%>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
  <div class="card-product-infos">
    <h2><%=job.user.email%></h2>
    <p><%= link_to job.description, job_path(job.id) %> </p>
    <p><%= job.location %></p>
  </div>
</div>
<% end %>
<% end %>


<%= link_to "My Bookings", mybookings_path, :class => "btn btn-block  buttons"%>
