<div class="new-job">
<%= simple_form_for [@job] do |job| %>
  <%= job.error_notification %>
  <%= job.input :description, label: "Job Description", :label_html=>{:class => 'new-label'} %>
  <%= job.input :location, label: "Job address", :label_html=>{:class => 'new-label'} %>
  <%= job.input :cost, label: "Job cost", :label_html=>{:class => 'new-label'} %>
  <%= job.input :time, label: "Time to complete the job (Min)",:label_html=>{:class => 'new-label'} %>
  <%= job.button :submit, class: 'btn-block' %>
<% end %>
</div>
