<h3> My Bookings </h3>

<% if @bookings.length == 0  %>
<h4>Sorry, You have no Bookings at the moment!</h4>
<p>Click below to see avaiable jobs!</p>
<%= link_to "View Jobs", jobs_path,:class => "btn btn-block  buttons" %>
<% else %>
<% @bookings.each  do |booking|%>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
  <div class="card-product-infos">
    <h2><%=booking.user.email%></h2>
    <p><%= link_to booking.job.description, booking_path(booking.id) %> </p>
    <p><%= booking.job.time %> Minutes</p>
  </div>
</div>
<% end %>
<% end %>

<%= link_to "My Jobs", myjobs_path, :class => "btn btn-block  buttons" %>

