<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>
<ul>
<% if @booking.status != "0" %>
  <li>Status: <%= @booking.status  %></li>
<% end %>
<li>Hippie:  <%= @booking.user.email %></li>
<li>Partyboy:  <%= @booking.job.user.email %></li>
<li>job id:  <%= @booking.job.id %></li>

</ul>

<h1>Please click below to confirm </h1>
<h2><%= link_to "Has Arrived!", booking_path(@booking), method: :patch %></h2>


<p><%= link_to "Home", jobs_path %></p>
