<div class="purple-background">
  <div class="row">

    <p class="title">You Booked The Job</p>
     <% unless @booking.status == "0" %>
    <h4 class="status-booking"> <%= @booking.status %></h4>
    <% end %>
  </div>
    <div class="map-cards">

      <div class="map-b">
          <div
      id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
       ></div>
      </div>
      <div class="booking-info">
              <h5>Hippie</h5>
      <div class="booking-info-hippie">

      <li><%= @booking.user.first_name.capitalize %></li>
      <li><%= @booking.user.phone_number %></li>

      <li> Booked at <%= @booking.created_at.hour.to_s + ":" + @booking.created_at.min.to_s%> </li>
      <li> Festival: <%= @booking.job.location %> </li>
      </div>

      <h5>Party Boy</h5>
      <div class="booking-info-partyboy">
      <li><%= @booking.job.user.first_name.capitalize %></li>
      <li><%= @booking.job.user.phone_number %></li>
      <li><%= @booking.job.cost %> $ </li>
      <li><%= @booking.job.description %></li>
      <li> Festival: <%= @booking.job.location %></li>
      </div>
      </div>
    </div>

     <% if policy(@booking).confirmed? %>
     <p style="font-size: 16; color: #E3D888">Please click below to confirm </p>
    <button class="btn-blue">
        <%= link_to "Job Completed!", booking_path(@booking), method: :patch, :class => "btn btn-block" %>
    </button>
  <% end %>


