<div class="background-img" style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(<%= image_path 'party.jpg' %>);">
</div>

<div class="container">
  <h2>IN WHICH FESTIVAL ARE YOU NOW?</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path 'burningman.jpg' %>);">
          <h3><%=  link_to "Burning Man", jobs_path("Burning Man") %></h3>
          <p>Black Rock City - Navada US</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path 'ozora.jpg' %>);">
          <h3><%=  link_to 'Ozora', jobs_path("Ozora")%></h3>
          <p>Dádpuszta - Hungary</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path 'tomorrowland.jpg' %>);">
          <h3><%=  link_to 'Tomorrowland', jobs_path("Tomorrowland")%></h3>
          <p>Boom, Antwerp, Belgium</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path 'boom-background.jpg' %>);">
          <h3><%=  link_to 'Boom', jobs_path("Boom")%></h3>
          <p>Idanha-a-Nova, Portugal</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path 'boom-background.jpg' %>);">
          <h3>Boom</h3>
          <p>Idanha-a-Nova, Portugal</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path 'boom-background.jpg' %>);">
          <h3>Boom</h3>
          <p>Idanha-a-Nova, Portugal</p>
        </div>
      </div>


    </div>
</div>


