<div class="background-img" style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(<%= image_path 'boom.jpg' %>);">
  <h2 id="moto">Take part in the community <br> Enjoy more in the festival  </h2>
</div>

<!--   <h2 class="header">HOW IT WORKS?</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="how-it-works">
        <h3>Simply Choose What Would You Like</h3>
        <p>e.g. I want a beer</p>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="how-it-works">
        <h3>Wait For a Hippie</h3>
        <p>Once someone sees your request, they can offer their help</p>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="how-it-works">
        <img src="../../assets/images/women-hippie-style.png" style="width: 90px; height: 90px;">
        <h3>Confirm</h3>
        <p>Have your beer deliverd thanks to your wounderful hippie</p>
      </div>
    </div> -->
<div class="container">
    <div class="row">
      <h2 class="header">IN WHICH FESTIVAL ARE YOU NOW?</h2>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path 'burningman.jpg' %>);">
          <h3><%=  link_to "Burning Man", jobs_path("Burning Man") %></h3>
          <p>Black Rock City - Navada US</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path 'ozora.jpg' %>);">
          <h3><%=  link_to 'Ozora', jobs_path("Ozora")%></h3>
          <p>Dádpuszta - Hungary</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path 'tomorrowland.jpg' %>);">
          <h3><%=  link_to 'Tomorrowland', jobs_path("Tomorrowland")%></h3>
          <p>Boom, Antwerp, Belgium</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path 'boom-background.jpg' %>);">
          <h3><%=  link_to 'Boom', jobs_path("Boom")%></h3>
          <p>Idanha-a-Nova, Portugal</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path 'midburn-israel.jpg' %>);">
          <h3>Midburn</h3>
          <p>Negev Desert, southern Israel</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-location" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path 'origin-festival.png' %>);">
          <h3>Origin</h3>
          <p>Cape Town, South Africa</p>
        </div>
      </div>
    </div>
</div>


